<div class="container-fluid home-container mt-2">
  <div class="row">
    <h4>What we Do </h4>
    <div class="col-md-12">
      This Website is Based on a Funding Platform for Creating Projects, It includes all the Categories like the Music, film, art, theater, games, comics, design, photography, and a lot more.
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5>More From Us </h5>
    </div>
    <div class="col-md-6">
      <small class="mark">Watch Projects !</small> <%= link_to "Browse Projects", root_path, class:'btn btn-primary btn-sm' %>
    </div>
    <div class="col-md-6">
      <small class="mark">Explore Posts !</small> <%= link_to "Browse Posts", posts_path, class:'btn btn-primary btn-sm'  %>
    </div>
  </div>
</div>
