<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      This Website is Based on a Funding Platform for Creating Projects, It includes all the Categories like the Music, film, art, theater, games, comics, design, photography, and a lot more.
    </div>
  </div>
</div>
