<div class="container-fluid home-container my-4">
    <h2>What We Do </h2>
    <p>This Website is Based on a Funding Platform for Creating Projects, It includes all the Categories like the Music, film, art, theater, games, comics, design, photography, and a lot more.</p>

</div>
