<div class="container mt-4">
  <div class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-md-6 mb-4">
        <%= link_to campaign_path(campaign), class:'link-dec' do %>
          <%= image_tag(campaign.image.url, class:'cmpgn-img') %>
          <div class="hding-brdr mt-3">
            <h5 class="ml-3"><%= campaign.title %></h5>
            <div class="ml-3">
              <small class="text-muted"><%= campaign.description.truncate(300) %></small>
            </div>
          </div>
<<<<<<< HEAD
        </div>
        <br>
      <% end %>
    </div>
=======
        <% end %>
      </div>
    <% end %>
>>>>>>> e981ec2... Home Page and Blog PaGe Design, All Phases Completed and The Site is on Production, doing some optimzations
  </div>
</div>