<div class='nested-fields'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-signin">
          <div class="card-body border p-2 m-1">
            <h3 class="card-title text-center">Risk & Challenge</h3>
            <%= f.input :description, required: true, placeholder: 'Risks & Challenges', input_html: { class: 'form control form-control-sm' } %>
            <%= link_to_remove_association "Remove Risk and Challenge", f, class:'btn btn-outline-success btn-sm my-2 my-sm-0' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>