<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to dollarmark.com, <%= @user.username %></h1>
    <p>
      You Received some Messages, go take a Look at the DollarLaunch. 
    </p>
    <p>Thanks for becoming a part of us and have a great day!</p>
  </body>
</html>